{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
  {% if data.piece %}
    {{ data.piece.title }}
  {% elseif data.page %}
    {{ data.page.title }}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
  {#
    This block outputs its contents in the HTML document's <head>.
    It is a good place to put extra <script> <link> and <meta> tags.
  #}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
{% endblock %}

{% block beforeMain %}
  <header class="container">
    <div class="jumbotron">
      <h1>AmazingCo: {{ data.page.title }}</h1>
      {% block blurb %}
        {{
          apos.singleton(data.page, 'header', 'apostrophe-rich-text', {
            toolbar: [ 'Styles', 'Bold', 'Link' ],
            styles: [
              {
                name: 'Big Heading',
                element: 'h3'
              },
              {
                name: 'Small Heading',
                element: 'h4'
              },
              {
                name: 'Regular Text',
                element: 'p'
              }
            ]
          })
        }}      
      {% endblock %}
    </div>
  </header>
{% endblock %}

{% block main %}
  <div class="container">
    <p>We'll put the main content here.</p>
  </div>
{% endblock %}

{% block afterMain %}
  {#
    This would be a great place to put a global footer.
  #}
{% endblock %}
